@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Esta é uma aplicação ASP.NET</h1>
        <p class="lead">ASP.NET é uma estrutura da Web gratuita para a construção de ótimos sites e aplicativos da Web usando HTML, CSS e JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Saiba mais &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Começando</h2>
            <p>
                A ASP.NET MVC oferece uma maneira poderosa e baseada em padrões para criar sites dinâmicos
                que permite uma separação clara de interesses e oferece controle total sobre a marcação para 
                um desenvolvimento ágil e agradável.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Obtenha mais bibliotecas</h2>
            <p>NuGet é uma extensão gratuita do Visual Studio que facilita adicionar, remover e atualizar bibliotecas e ferramentas em projetos do Visual Studio.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais&raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Hospedagem na Web</h2>
            <p>Você pode encontrar facilmente uma empresa de hospedagem na web que ofereça a combinação certa de recursos e preços para seus aplicativos.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
        </section>
    </div>
</main>